{% if session['role'] == 'admin' %}
    {% include 'ahead.html'%}
{% endif %}
{% if session['role'] == 'game_host' %}
    {% include 'ghead.html'%}
{% endif %}
{% if session['role'] == 'audien' %}
    {% include 'auhead.html'%}
{% endif %}

<body class="view-bgr"></body>
{%set stadium =get_stadium_by_stadium_id(schedule['stadium_id'])%}
{%set game =get_game_by_game_id(schedule['game_id'])%}
{%set team1 =get_team_by_team_id(schedule['team1_id'])%}
{%set team2 =get_team_by_team_id(schedule['team2_id'])%}
<div class=" card1  mt-20 p-10">
    <div class="h4 text-center">{{schedule['start_date'].strftime("%d-%m-%Y %I:%M %p")}}  to  {{schedule['end_date'].strftime("%d-%m-%Y %I:%M %p")}}</div>
        <div class="row mt-30">
            <div class="col-3 p-10">
                 <div class="h4">{{game['game_title']}}</div>
                 <div class="">{{game['game_type']}}</div>
            </div>
            <div class="col-3 p-10">
                    <div class="h4">{{stadium['stadium_name']}}</div>
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg> {{stadium['stadium_location']}}
                    </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-5 p-5">
                        <div class="h4">{{team1['team_name']}}</div>
                        <div>{{team1['no_of_players']}} players</div>
                        <div>Coach - {{team1['coach_name']}}</div>
                    </div>
                    <div class="col-2 h3 text-center p-10">VS</div>
                    <div class="col-5 text-right">
                        <div class="h4">{{team2['team_name']}}</div>
                        <div>{{team2['no_of_players']}} players</div>
                        <div>Coach - {{team2['coach_name']}}</div>
                    </div>
                </div>
            </div>
        </div>
</div>
<form action="book_tickets2">
    <input type="hidden" name="schedule_id" value="{{schedule_id}}">
    <input type="hidden" name="seat_type" value="{{seat_type}}">
    <input type="hidden" name="total_seats" value="{{total_seats}}">
    <input type="hidden" name="price_per_seat" value="{{price_per_seat}}">
    <input type="hidden" name="persons_count" value="{{persons_count}}">
    <div class="row mt-10 p-50">
        <div class="col-3 h5">
            <div>price : {{price_per_seat}}</div>
        </div>
        <div class="col-6 text-center h5">Choose Seats</div>
        <div class="col-3">
            {% if session['role'] == 'audien' %}
            <div>
                <input type="submit"  class="btn btn-primary" value="Book Seats">
            </div>
            {% else %}
                <div>
                    <a href="bookings?schedule_id={{schedule_id}}&seat_type={{seat_type}}" class="btn btn-primary">View Bookings</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for i in range(1,total_seats+1) %}
            {% set is_booked = is_seat_booked(i, schedule_id, seat_type) %}
            {% if is_booked %}
                <div class="p-10">
                    <label  class="seat-label">
                        {% if persons_count == 2 %}
                            <span class="seat-booked"></span>
                        {% else %}
                           <span class="seat2-booked"></span>
                        {% endif %}
                        <span class="seat-number">{{i}}</span>
                    </label>
                </div>
            {% else %}
                <div class="p-10">
                    <input type="checkbox" name="seat{{i}}" id="seat{{i}}" class="seat-checkbox">
                    <label for="seat{{i}}" class="seat-label">
                        {% if persons_count == 2 %}
                            <span class="seat"></span>
                        {% else %}
                           <span class="seat2"></span>
                        {% endif %}
                        <span class="seat-number">{{i}}</span>
                    </label>
                </div>
            {% endif %}

        {% endfor %}
    </div>
</form>

